@{
    ViewData["Title"] = "Home Page";
}

<div id="root"></div>

@section scripts {
    <script type="text/javascript" src="http://localhost:3000/js/_app-bundle.js"></script>
    <link rel="stylesheet" href="~/lib/js/bootstrap.min.js" />
}
